body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    background-color: navy;
    color: oldlace;
    padding: 20px;
    margin: auto;
}

section {
    background-color: whitesmoke;
    border: solid grey 2px;
    margin: 10px;
    padding: 20px;
}

#headimage {
    display: block;
    margin: auto;
    width: 100%;
}

nav li {
    text-align: center;
}



h2 {
    color: rgb(77, 77, 77);
}

footer {
    text-align: center;
}